In [50]:
import pandas as pd

# Primeiro, criar lista contendo os nomes das colunas categorias

In [17]:
cols_t = ['TransactionID', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       'addr1', 'addr2', 'dist1', 'dist2', 'P_emaildomain', 'R_emaildomain',
       'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11',
       'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8',
       'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4',
       'M5', 'M6', 'M7', 'M8', 'M9']

# Criar lista contendo todos os 'Vs'

In [28]:
cols_v = ["V"+str(x) for x in range(1,340)];types_v = {}
#ls = [type(item) for item in cols_v]
#ls[:5]

# Conveter todos os elementos e cols_v em 'float 32'

In [21]:
for c in cols_v: types_v[c] = 'float32'

# Criar variavel com dados da transaction table, porém utilizando apenas as colunas cols_t(categoricas e de identificação), colunas V geradas no passo anterior e coluna 'isFraud'.

In [27]:
df_train = pd.read_csv('train_transaction.csv', usecols=cols_t+['isFraud']+cols_v, dtype=types_v)
df_train.columns
#train = pd.read_csv('../input/ieee-fraud-detection/train_transaction.csv',usecols=cols_t+['isFraud']+cols_v,dtype=types_v)

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338',
       'V339'],
      dtype='object', length=394)

# Criação de tabela que verifica NaNs

## Esse trecho agrega nomes de colunas por quantidade de NaNs.

In [84]:
import gc
nans_df = df_train.isna()
nans_groups={}
i_cols = ['V'+str(i) for i in range(1,340)]


for col in df_train.columns:
    cur_group = nans_df[col].sum()
    try:
        nans_groups[cur_group].append(col)
    except:
        nans_groups[cur_group] = [col]
del nans_df; x=gc.collect()


for k, v in nans_groups.items():
    print('## NaN count =', k)
    print(v)

## NaN count = 0
['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14']
## NaN count = 8933
['card2']
## NaN count = 1565
['card3']
## NaN count = 1577
['card4']
## NaN count = 4259
['card5']
## NaN count = 1571
['card6']
## NaN count = 65706
['addr1', 'addr2']
## NaN count = 352271
['dist1']
## NaN count = 552913
['dist2']
## NaN count = 94456
['P_emaildomain']
## NaN count = 453249
['R_emaildomain']
## NaN count = 1269
['D1', 'V281', 'V282', 'V283', 'V288', 'V289', 'V296', 'V300', 'V301', 'V313', 'V314', 'V315']
## NaN count = 280797
['D2']
## NaN count = 262878
['D3']
## NaN count = 168922
['D4']
## NaN count = 309841
['D5']
## NaN count = 517353
['D6']
## NaN count = 551623
['D7']
## NaN count = 515614
['D8', 'D9']
## NaN count = 76022
['D10']
## NaN count = 279287
['D11', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11']
## NaN count = 525823
['D12']
## NaN count = 528588
['D13']
## NaN count = 528353
['D14']
## NaN count = 89113
['D15']
## NaN count = 271100
['M1', 'M2', 'M3']
## NaN count = 281444
['M4']
## NaN count = 350482
['M5']
## NaN count = 169360
['M6']
## NaN count = 346265
['M7']
## NaN count = 346252
['M8', 'M9']
## NaN count = 76073
['V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34']
## NaN count = 168969
['V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52']
## NaN count = 77096
['V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74']
## NaN count = 89164
['V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94']
## NaN count = 314
['V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137']
## NaN count = 508595
['V138', 'V139', 'V140', 'V141', 'V142', 'V146', 'V147', 'V148', 'V149', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V161', 'V162', 'V163']
## NaN count = 508589
['V143', 'V144', 'V145', 'V150', 'V151', 'V152', 'V159', 'V160', 'V164', 'V165', 'V166']
## NaN count = 450909
['V167', 'V168', 'V172', 'V173', 'V176', 'V177', 'V178', 'V179', 'V181', 'V182', 'V183', 'V186', 'V187', 'V190', 'V191', 'V192', 'V193', 'V196', 'V199', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216']
## NaN count = 450721
['V169', 'V170', 'V171', 'V174', 'V175', 'V180', 'V184', 'V185', 'V188', 'V189', 'V194', 'V195', 'V197', 'V198', 'V200', 'V201', 'V208', 'V209', 'V210']
## NaN count = 460110
['V217', 'V218', 'V219', 'V223', 'V224', 'V225', 'V226', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V235', 'V236', 'V237', 'V240', 'V241', 'V242', 'V243', 'V244', 'V246', 'V247', 'V248', 'V249', 'V252', 'V253', 'V254', 'V257', 'V258', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278']
## NaN count = 449124
['V220', 'V221', 'V222', 'V227', 'V234', 'V238', 'V239', 'V245', 'V250', 'V251', 'V255', 'V256', 'V259', 'V270', 'V271', 'V272']
## NaN count = 12
['V279', 'V280', 'V284', 'V285', 'V286', 'V287', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V297', 'V298', 'V299', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321']
## NaN count = 508189
['V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

# 1. Iniciando pelo agregado V1 - V11 + D11

In [94]:
Vc = ['dayr','isFraud','TransactionAmt','card1','addr1','D1n','D11n']
Vs = nans_groups[279287] #Separando o grupo pela chave (nesse caso é a quantidade de itens com esse numero de NaNs
Vtitle = 'V1 - V11, D11'

# Criar função para plotar - CONFIRMAR

In [ ]:
import matplotlib
import numpy as np
def make_plots(Vs)
    col = 4
    row = len(Vs)//4+1
    plt.figure(figsite =(20, row*5))
    idx = df_train[~df_train[Vs[0]].isna()].index # Marca os indices de df_train[D1] que são NaN. Será utilizado para calculo posterior
    for i, v in enumarate(Vs):
        #plt.subplot(row, col, i+1)
        n = df_train[v].nunique() # 
        x =  np.sum(df_train.loc[idx,v]!=df_train.loc[idx,v].astype(int)) #

In [ ]:
def make_plots(Vs):
    col = 4
    row = len(Vs)//4+1
    plt.figure(figsize=(20,row*5))
    idx = train[~train[Vs[0]].isna()].index
    for i,v in enumerate(Vs):
        plt.subplot(row,col,i+1)
        n = train[v].nunique()
        x = np.sum(train.loc[idx,v]!=train.loc[idx,v].astype(int))
        y = np.round(100*np.sum(train[v].isna())/len(train),2)
        t = 'int'
        if x!=0: t = 'float'
        plt.title(v+' has '+str(n)+' '+t+' and '+str(y)+'% nan')
        plt.yticks([])
        h = plt.hist(train.loc[idx,v],bins=100)
        if len(h[0])>1: plt.ylim((0,np.sort(h[0])[-2]))
    plt.show()
make_plots(Vs)

In [95]:
Vs[0]

'D11'